/* Main Page */
.find-parking-page {
    width: 100%;
    min-height: 100vh;
    padding: 60px 7%;
    background: #f8fafc;
    box-sizing: border-box;
}

/* Header */
.find-parking-header {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 45px;
}

/* Section Badge */
.find-parking-header .section-badge {
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 18px;

    background: #e8f7ef;
    color: #16a34a;

    border-radius: 30px;

    font-size: 14px;
    font-weight: 600;
}

/* Main Heading */
.find-parking-header h1 {
    margin: 0;

    font-size: 44px;
    line-height: 1.2;

    color: #111827;
    font-weight: 700;
}

/* Heading Highlight */
.find-parking-header h1 strong {
    color: #16a34a;
}

/* Header Paragraph */
.find-parking-header p {
    margin-top: 15px;

    font-size: 18px;
    line-height: 1.5;

    color: #343539;
}

/* ======================================== SEARCH SECTION ======================================== */

.find-parking-search {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto 45px;

    padding: 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    background: #ffffff;

    border: 1px solid #e5e7eb;
    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

    box-sizing: border-box;
}

/* Search Field */
.search-field {
    width: 100%;
}


/* Label */
.search-field label {
    display: block;

    margin-bottom: 8px;

    font-size: 15px;
    font-weight: 600;

    color: #374151;
}

/* Search Input Box */
.search-input {
    width: 100%;
    height: 52px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    background: #f9fafb;

    border: 1px solid #e5e7eb;
    border-radius: 12px;

    box-sizing: border-box;

    transition: 0.3s ease;
}

/* Input Icon */
.search-input>span {
    margin-right: 10px;

    font-size: 18px;
}


/* Input */
.search-input input,
.search-input select {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    background: transparent;

    color: #374151;

    font-size: 14px;

    font-family: inherit;
}


/* Input Focus */
.search-input:focus-within {
    border-color: #16a34a;

    box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.1);
}


/* Select */
.search-input select {
    cursor: pointer;
}


/* Readonly Location */
.search-input input[readonly] {
    cursor: default;
}
/* ======================================= FIND PARKING - PART 2 Parking Price Section ======================================== */
/* Price Section */
.vehicle-price-info {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto 50px;
    padding: 25px;

    background: #ffffff;

    border: 1px solid #e5e7eb;
    border-radius: 18px;

    box-sizing: border-box;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);
}