/* Main Page */
.find-parking-page {
    width: 100%;
    min-height: 100vh;
    padding: 60px 7%;
    background: #f8fafc;
    box-sizing: border-box;
}

/* Header */
.find-parking-header {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 45px;
}

/* Section Badge */
.find-parking-header .section-badge {
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 18px;

    background: #e8f7ef;
    color: #16a34a;

    border-radius: 30px;

    font-size: 14px;
    font-weight: 600;
}

/* Main Heading */
.find-parking-header h1 {
    margin: 0;

    font-size: 44px;
    line-height: 1.2;

    color: #111827;
    font-weight: 700;
}

/* Heading Highlight */
.find-parking-header h1 strong {
    color: #16a34a;
}

/* Header Paragraph */
.find-parking-header p {
    margin-top: 15px;

    font-size: 18px;
    line-height: 1.5;

    color: #343539;
}

/* ======================================== SEARCH SECTION ======================================== */

.find-parking-search {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto 45px;

    padding: 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    background: #ffffff;

    border: 1px solid #e5e7eb;
    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

    box-sizing: border-box;
}

/* Search Field */
.search-field {
    width: 100%;
}


/* Label */
.search-field label {
    display: block;

    margin-bottom: 8px;

    font-size: 15px;
    font-weight: 600;

    color: #374151;
}

/* Search Input Box */
.search-input {
    width: 100%;
    height: 52px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    background: #f9fafb;

    border: 1px solid #e5e7eb;
    border-radius: 12px;

    box-sizing: border-box;

    transition: 0.3s ease;
}

/* Input Icon */
.search-input>span {
    margin-right: 10px;

    font-size: 18px;
}


/* Input */
.search-input input,
.search-input select {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    background: transparent;

    color: #374151;

    font-size: 14px;

    font-family: inherit;
}


/* Input Focus */
.search-input:focus-within {
    border-color: #16a34a;

    box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.1);
}


/* Select */
.search-input select {
    cursor: pointer;
}


/* Readonly Location */
.search-input input[readonly] {
    cursor: default;
}

/* ======================================= FIND PARKING - PART 2 Parking Price Section ======================================== */
/* Price Section */
.vehicle-price-info {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto 50px;
    padding: 25px;

    background: #ffffff;

    border: 1px solid #e5e7eb;
    border-radius: 18px;

    box-sizing: border-box;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);
}

/* Price Heading */
.vehicle-price-info h2 {
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 700;
    color: #111827;
}

/* Price Option */
.price-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Individual Price */
.price-options>div {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 16px 18px;
    background: #f2f3f4;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    transition: 03s ease;
}

/* Vehicle Icon */
.price-options>div>span:first-child {
    font-size: 25px;
    margin-top: -10px;
}

/* Vehicle Name */
.price-options>div strong {
    flex: 1;
    font-size: 18px;
    color: #374151;
}

/* Price */
.price-options>div>span:last-child {
    font-size: 14px;
    font-weight: 700;
    color: #16a34a;
}

/* Hover Effect */
.price-options>div:hover {
    border-color: #16a34a;
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(22, 163, 74, 0.08);
}

/* ======================================== FIND PARKING - PART 3  Parking Results + Parking Card ======================================= */

/* Parking Results Section */
.parking-results {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 50px;
}

/* Section Heading */
.section-heading {
    margin-bottom: 25px;
}

/* Small Heading */
.section-heading>span {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #16a34a;
}

/* Section Title */
.section-heading h2 {
    margin: 0;
    font-size: 30px;
    color: #111827;
}

/* Title Highlight */
.section-heading h2 strong {
    color: #16a34a;
}

/* Section Paragraph */
.section-heading p {
    margin: 10px 0 0;
    color: #131515;
    font-size: 15px;
    line-height: 1.6;
}

/* Parking Grid */
.parking-results-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

/* Parking Card */
.parking-result-card {
    width: 100%;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

/* Card Hover */
.parking-result-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* Parking Header */
.parking-result-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

/* Parking Name */
.parking-result-header h3 {
    margin: 0 0 8px;
    font-size: 21px;
    color: #111827;
}

/* Parking Location */
.parking-result-header p {
    margin: 0;
    font-size: 14px;
    color: #6b7280;
}

/* Rating */
.parking-rating {
    padding: 7px 12px;
    background: #fff7ed;
    color: #ea580c;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

/* Availability Row */
.parking-availability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 13px;
}

/* Available Text */
.parking-availability span:first-child {
    color: #16a34a;
    font-weight: 600;
}

/* Total Slots */
.parking-availability span:last-child {
    color: #6b7280;
}

/* Parking Slots Container */
.parking-slots {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    margin-bottom: 22px;
}
/* Common Slot */
.parking-slot {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
    font-family: inherit;
    transition: 0.25s ease;
}
/* Slot Number */
.parking-slot strong {
    font-size: 17px;
}
/* Slot Status Text */
.parking-slot span {
    font-size: 11px;
}
/* Available Slot */
.parking-slot.available {
    border-color: #86efac;
    background: #f0fdf4;
    color: #15803d;
}
/* Available Hover */
.parking-slot.available:hover {
    border-color: #16a34a;
    background: #dcfce7;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(22, 163, 74, 0.12);
}
