/* Forgot Password Page */
.forgot-password-page {
    min-height: 100vh;
    padding: 100px 7%;
    background: #f8fafc;
}
/* Forgot Password Header */
.forgot-password-header {
    text-align: center;
    margin-bottom: 46px;
}
.forgot-password-header h1 {
    font-size: 43px;
    color: #172033;
    margin: 10px 0;
}
.forgot-password-header h1 strong {
    color: #16a34a;
}
.forgot-password-header p {
    margin: 0;
    color: #25282d;
    font-size: 16px;
}


