/* My Booking Page */
.my-bookings-page {
    min-height: 100vh;
    padding: 100px 7%;
    background: #f8fafc;
}

/* Haeader */
.my-bookings-header {
    text-align: center;
    margin-bottom: 50px;
}

.my-bookings-header h1 {
    font-size: 43px;
    color: #172033;
    margin: 10px 0;
}

.my-bookings-header h1 strong {
    color: #16a34a;
}

.my-bookings-header p {
    color: #222324;
    font-size: 17px;
    ;
}

/* Booking container */
.bookings-container {
    width: 100%;
}

/* Booking card */
.booking-card {
    max-width: 1000px;
    margin: 0 auto 25px;
    padding: 31px;
    background: #cbe9e5;
    border-radius: 21px;
}

/* Booking card Header */
.booking-card-header {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    align-items: center;
    margin-bottom: 25px;
}

.booking-card-header h2 {
    color: #172033;
    font-size: 26px;
    margin: 0 0 8px;
}

.booking-card-header p {
    color: #f35889;
    margin: 0;
}

/* Booking status */
.booking-status {
    padding: 8px 15px;
    background: #18e9c994;
    border-radius: 21px;
    color: #16a34a;
    font-size: 17px;
    font-weight: 600;
}

/* Booking Information */
.booking-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px 0;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
}

.booking-info div {
    padding: 15px;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
}

.booking-info small {
    display: block;
    margin-bottom: 6px;
    color: #64748b;
    font-size: 13px;
}

.booking-info strong {
    color: #172033;
    font-size: 15px;
}
/* New Booking Button */
.new-booking-btn {
    display: inline-block;
    margin-top: 22px;
    padding: 12px 20px;
    background: #16a34a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease;
}